<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cardsq.cardsq" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".navigation.NavigationDrawerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Navigation" >
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".decklist.DeckListItem"
            android:label="List Item" >
        </activity>

        <service android:name=".notification.NotifyService" />
        <service android:name=".notification.ScheduleService" />

        <activity
            android:name=".setting.MainSettingActivity"
            android:label="@string/title_activity_main_setting"
            android:parentActivityName=".navigation.NavigationDrawerActivity">
        </activity>

    </application>

</manifest>
